<!DOCTYPE html>
<html>
<head>
	<title>поиск заведений</title>
</head>
	<body>
		<h1>form</h1>
		<form action="/form" method="POST">
			<input type="text" name="place">
			<input type="submit">
		</form>
	</body>
</html>