<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	</head>
	<body>
		<p> <a href="/login"> Login page </a> </p>
		<p> <a href="/register"> Register page </a> </p> 
		<p> <a href="/"> Main page </a> </p>