<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<a href="/login">Login page</a>
		<br>
		<a href="/register">Register page</a>
		<br>
		<a href="/">Main page</a>