<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/myStyle.css">
	</head>
	<body>
	<div class="nav">
		<a href="/">index page</a>
		<a href="/login">login page</a>
		<a href="/register">register page</a>
	</div>
	</body>
</html>